/**
* Display links in navigation
**/

.navbar-inverse{
  background-color: rgb(66, 139, 202);
  border-radius:0;
  border-color:rgb(66, 139, 202);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color:#fff;
}

.navbar.navbar-default.plain{
  border-radius:0;
  margin-bottom:0;
}
 .nav.navbar-nav.plain{
   margin:0;
 }
.tabs .nav-tabs{
  padding:10px 10px 0 5%;
  margin:0;
}

ul.card-status{
   padding:0;
   list-style-type: none;
}
 ul.card-status li{
    padding:0 0.5em;
    float:left;
 }
 ul li a{
   color:#428bca;
   text-decoration:none;
 }
