<div class="repository-search">
      <div  class="panel panel-default" data-ng-repeat="repository in vm.repositories">
        <div class="panel-body">
     <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">
       <a ui-sref="repository.issues({username:repository.owner.login, reponame:repository.name})">{{repository.name}}</a>
     </h4>
     </div>
     <p class="mb-1" data-ng-bind="repository.description"></p>
     <ul class="card-status icon-text">
       <li><i class="fa fa-code-fork"></i><span data-ng-bind="repository.forks_count"></span></li>
       <li><i class="fa fa-star"></i><span data-ng-bind="repository.stargazers_count"></span></li>
       <li>Open issues <span class="badge" data-ng-bind="repository.open_issues_count"></span></li>
     </ul>
   </div>
   </div>
</div>
