/**list items
**/

.list-items{
  list-style-type:none;
  margin:0;
  padding:0;
}
   .list-items h3{
     font-size: 1.1em;
   }
  .list-items li{
    border: 1px solid #ddd;
    border-top:0px;
    padding: 4px 0.8em 4px 0.8em;
  }
  button, a{
    cursor:pointer;
  }
  a.nolink{
    cursor:none;
  }

  .panel.panel-default{
    border-radius:0;
  }
